<?xml version="1.0" encoding="UTF-8"?>
<suite name="ParallelSuite" parallel="tests" thread-count="4">

    <test name="Tests_Chrome" parallel="none" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="solvd.com.AddProductTest"/>
            <class name="solvd.com.DiscardProductTest"/>
            <class name="solvd.com.SearchProductTests"/>
            <class name="solvd.com.CreateAccountTests"/>
            <class name="solvd.com.SignInTest"/>
        </classes>
    </test>

    <test name="Tests_Firefox" parallel="none" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="solvd.com.AddProductTest"/>
            <class name="solvd.com.DiscardProductTest"/>
            <class name="solvd.com.SearchProductTests"/>
            <class name="solvd.com.CreateAccountTests"/>
            <class name="solvd.com.SignInTest"/>
        </classes>
    </test>


</suite>
